@model IEnumerable<BSBWebApp.Models.SalesPersonCommisonDetail>

@{
    ViewData["Title"] = "Sales Quarterly Commision";
}

<h1>Sales Quarterly Commision</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesCommission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quarter)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.SalesCommission)
            </td> 
        </tr>
}
    </tbody>
</table>
